@model AtDemanda
@{
    ViewData["Title"] = "Atendimento - Cadastro";
}

<div class="container p-5">
    <form class="col-8 mx-auto p-5 border rounded-1 shadow" method="POST" asp-action="Cadastro">
    <input type="hidden" asp-for="IdAtDemanda">

        <p class="mb-3"><label asp-for="DataHora" class="form-label">Data / Hora abertura: </label>
            <input asp-for="DataHora" class="form-control">
        </p>
        <p class="mb-3"><label asp-for="IdUsuario" class="form-label">Usuário: </label>
            <input asp-for="IdUsuario" class="form-control">
        </p>
        <p class="mb-3"><label asp-for="Reclamante" class="form-label">Reclamante: </label>
            <input asp-for="Reclamante" class="form-control">
        </p>
        <p class="mb-3"><label asp-for="Telefone" class="form-label">Telefone: </label>
            <input asp-for="Telefone" class="form-control">
        </p>
        <p class="mb-3"><label asp-for="IdAssunto" class="form-label">Assunto: </label>
            <input asp-for="IdAssunto" class="form-control">
        </p>
        <p class="mb-3"><label asp-for="Observacao" class="form-label">Observacao: </label>
            <input asp-for="Observacao" class="form-control">
        </p>
        <p>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
            <a class="btn btn-primary" href="/AtDemanda/Lista">Voltar</a>
        </p>



    </form>
</div>
<P>
    @ViewBag.Mensagem
</P>