@model sistemanovo.Models.ViewModels.CadastroDemandaViewModel
@{
    ViewData["Title"] = "Atendimento - Cadastro";
}

<div class="container p-5">
    <form class="col-8 mx-auto p-5 border rounded-1 shadow" method="POST" asp-action="Cadastro">
        <input type="hidden" asp-for="IdAtDemanda">
        <input type="hidden" asp-for="IdAtAssunto">

        <p class="mb-3"><label asp-for="Demandas.Reclamante" class="form-label">Reclamante: </label>
            <input asp-for="Demandas.Reclamante" class="form-control">
        </p>
        <p class="mb-3"><label asp-for="Demandas.Telefone" class="form-label">Telefone: </label>
            <input asp-for="Demandas.Telefone" class="form-control">
        </p>
       
        <p class="mb-3">
            <label asp-for="Demandas.IdAssunto" class="form-label">Escolha o assunto</label>
            <select asp-for="Demandas.IdAssunto">
                @foreach (AtAssunto ass in Model.ListaAssuntos)
                {
                    <option value="@ass.IdAtAssunto">@ass.Assunto</option>
                }
            </select>
        </p>



        <p class="mb-3"><label asp-for="Demandas.Observacao" class="form-label">Observacao: </label>
            <input asp-for="Demandas.Observacao" class="form-control">
        </p>
        <p>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
            <a class="btn btn-primary" href="/AtDemanda/Lista">Voltar</a>
        </p>



    </form>
</div>
<P>
    @ViewBag.Mensagem
</P>

