@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p style="color: red;">Leia mais <a href="https://docs.microsoft.com/aspnet/core">Isso aqui é um link.</a>.</p>
</div>
